.pickerBox {
  padding: 5px;
  width: 10rem;
  height: 5rem;
  color:white;
  border-radius: 5px;
  background-size: cover;
  margin-top: 10px;
  transition: box-shadow 300ms ease-out;
  box-shadow: 0px 0px 0px 0px lightblue;
  flex-shrink:0;
}

.pickerBox.selected {
  transition: box-shadow 300ms ease-in;
  border-width: 1px;
  border-color:blue;
  border-style:solid;
  box-shadow: 0px 0px 5px 5px lightblue;
}

.picker-items {
  display: flex;
  flex-direction: column;
  flex-shrink:0;
  align-items: center;
  justify-content:center;
  padding:10px;
  padding-top:0;
  width: 10rem;
  margin:0;
  height: 45rem;
}

.picker {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  width:17.5rem;
}

.picker-content {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:50rem;
  background-color: rgba(0,0,0,0.05);
}

.display {
  width: 50rem;
  height:50rem;
  margin:0;
  padding:0;
}

.display img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

.color-picker {
  border: .2rem solid #ececec;
  width: fit-content !important;
  margin:0;
  padding:0;

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.carousel-item-next{
  transition: transform 0s ease-in-out;
}

.carousel-item-prev{
    transition: transform 0s ease-in-out;
}
.carousel-item-left {
    transform: translateX(-100%);
}
.carousel-item-right {
    transform: translateX(100%);
}
